<div class="add-book-container">
    <h2>Add New Book</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="title">Book Title</label>
        <input
          id="title"
          type="text"
          [(ngModel)]="book.title"
          name="title"
          placeholder="Enter book title"
          required
        />
      </div>
  
      <div class="form-group">
        <label for="author">Author</label>
        <select
          id="author"
          [(ngModel)]="book.authorId"
          name="authorId"
          required
        >
          <option value="" disabled selected>Select an author</option>
          <option *ngFor="let author of authors" [value]="author.authorID">
            {{ author.firstName }} {{ author.lastName }}
          </option>
        </select>
      </div>
  
      <button type="submit">Add Book</button>
    </form>
  </div>
  